<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.6/axios.min.js"
     integrity="sha512-RUkwGPgBmjCwqXpCRzpPPmGl0LSFp9v5wXtmG41+OS8vnmXybQX5qiG5adrIhtO03irWCXl+z0Jrst6qeaLDtQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Payment Gateway <%=status %></h1>
   
    <p>Thank you for your interest in Ekarikthin 23..</p>
    <p>Name : <%=data.name%> </p>
    <p>Event : <%=data.event%> </p>
    <p>Cost : <%=data.cost%> </p>
    <p>PaymentMode : <%=data.paymentMode%> </p>
  
    
    <form action="/order" method="post">
        <input hidden type="text" name="email" value="<%=data.email%>" />
        <input hidden type="text" name="eventCode" value="<%=data.eventCode%>" />
        <input hidden type="number" id="cost" name="cost" value="<%=data.cost%>" />
        <button id="rzp-button1">Pay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    </form>
</body>
<script>
   const cost=document.getElementById('cost').value;
   
   var orderId ;
$(document).ready(function()
{
    var settings = {
  "url": "/order",
  "method": "POST",
  "timeout": 0,
  "headers": {
    "Content-Type": "application/json"
  },
  "data": JSON.stringify({
    "amount": cost
  }),
};

//creates new orderId everytime
$.ajax(settings).done(function (response) {

orderId=response.orderId;
console.log(orderId);
$("button").show();
});






var options = {
    "key": "YOUR_KEY_ID", // Enter the Key ID generated from the Dashboard
    "amount": cost*100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Ekarikthin",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": orderId, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "callback_url": "/paystat",
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);

rzp1.on('payment.success', function(resp) {
      swal("Success!", "Your payment is sucess", "success");
      $.ajax({
        url: '/paystat',
        type: 'POST',
        data: {
          razorpay_payment_id: resp.razorpay_payment_id,
          razorpay_order_id: resp.razorpay_order_id,
          razorpay_signature: resp.razorpay_signature,}
        })
    }); // will pass payment ID, order ID, and Razorpay signature to success handler.
    
rzp1.on('payment.error', function(resp){swal("Error", "Your payment cannot be happend contact to admin", "error");});
 // will pass error object to error handler
 document.getElementById('rzp-button1').onclick = function(e){
rzp1.open();
    e.preventDefault();




}

  


});



    



   


    
</script>
</html>